//
   Created by TangentGuo on 16/9/6.

extends layout
block content
   h1= data.title
   .content!= data.content.replace(/&nbsp;/g,'')
      .page
         a(href=':'+(data.id-1)) pre
         a(href=':'+(data.id+1)) next

   script.
      window.addEventListener("keydown", function (event) {
         //console.log(event);
         if(event.code == 'ArrowRight'){
            var link = $('.page a').eq(1).attr('href');
            location.href = link;
         }

         if(event.code == 'ArrowLeft'){
            var link = $('.page a').eq(0).attr('href');
            location.href = link;
         }
      });