* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font: normal 18px/1.8 "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
  background: #202325;
  margin: 0;
  padding: 0;
  color: #9aa3b7;
}

a{color:#9aa3b7;text-decoration: none}
a:visited{color: #3f617f  }
a:hover{color:#fff}

h1 {
  font-size: 30px;
  line-height: 36px;
}

#intro h3, #api-doc h1 {
  font-weight: normal;
}

h1, h2, h3 {
  margin: 5px 0;
  -webkit-font-smoothing: antialiased;
}

.content h1 {
  margin-bottom: 20px;
}

p em {
  font-weight: bold;
  color: #353535;
}

p {
  margin: 10px 0;
  line-height: 1.35em;
}

strong, th {
  color: #353535;
}

ul,li{list-style: none;margin: 0;padding: 0}


.clear:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.clear{zoom:1;}

.List{width: 600px;margin: 0 auto;padding-bottom: 50px;}
.List li{float: left;width:300px;}

h1{text-align: center;padding: 40px 0 20px}
.content{width:600px;margin: 0 auto;padding-bottom: 50px}

.page{text-align: center;margin: 20px auto 10px}
.page a{display: inline-block;padding: 0 10px;text-transform: uppercase}

@media screen and (max-width: 620px) {
    body {
        padding: 1.5rem;
    }

    h1{font-size: 20px;padding: 10px 0}
    .List{width: auto;}
    .content{width:auto}
}